<article class="prime-ng-container">
  <header class="prime-ng-header">
    Title: <span class="prime-ng-title">{{title}}</span>
  </header>

  <section class="prime-ng-content">
    {{content}}
  </section>
</article>
