.prime-ng-first-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.prime-ng-first-item {
  padding: 5px 50px;
  border: 1px solid #cccccc;
  border-radius: 10px;
}

.prime-ng-first-item-active {
  font-weight: bold;
  color: #ffffff;
  background: #cccccc;
}
