<article class="prime-ng-first-container">
  <span class="prime-ng-first-item"
        routerLinkActive="prime-ng-first-item-active"
        [routerLink]="component.id"
        *ngFor="let component of componentList">
    {{component.name}}
  </span>
</article>

<router-outlet></router-outlet>
